<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    <main class="center-screen">

        <div id="word-display">&nbsp; </div>
        <!-- <input type="text" name="guessing-letter" id=""> -->
        <!-- <br> -->
        <div class="alphabet"></div>
        <button id="new-word-b">New word</button>

        <p id="remaining-trials">Remaining trials: <span></span></p>
        <p id='display-used-letters'>
            <!-- Initial blank space added in selectNewWord() -->
        </p>

    </main>

    <section id="params">
        <label for="difficulty">Difficulty</label>
        <select name="difficulty" id="difficulty">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>

        <label for="min-length">Min length</label>
        <select name="min-length" id="min-length">

            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
        </select>

        <label for="max-length">Max length</label>
        <select name="max-length" id="max-length">
            <!-- <option value="1">1</option> -->
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12" selected>12</option>
        </select>
    </section>



    <script src="js/listeners.js"></script>
    <script src="js/fetch-data.js"></script>
    <script src="js/index.js"></script>
</body>

</html>