<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    <main>

        <div id="word-display">&nbsp; </div>
        <!-- <input type="text" name="guessing-letter" id=""> -->
        <!-- <br> -->
        <button id="new-word">Play again with new word</button>
        <div class="alphabet"></div>
        <p id='display-used-letters'>
            <!-- Initial blank space added in selectNewWord() -->
        </p>
    </main>


    <script src="js/listeners.js"></script>
    <script src="js/fetch-data.js"></script>
    <script src="js/index.js"></script>
</body>

</html>