body, html {
    background-color: #f5f5f5;
    box-sizing: border-box;
    margin: 1%;
    font-size: 26px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: "Gill Sans", sans-serif;
}

main * {
    line-height: 1.5rem;
    color: black;
    letter-spacing: .2rem;
    line-height: 1.5rem;
    padding: 0.1rem 0.3rem;
    margin: 1px;
}

main.center-screen {}

/* https://stackoverflow.com/questions/31217268/center-div-on-the-middle-of-screen */

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 50vh;
    font-size: 1rem;
    /* border: 1px solid red; */
    margin: 0 auto;
    max-width: 600px;
}

#params {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 5vh;
    font-size: 0.6rem;
    /* border: 1px solid red; */
    margin: 0 auto;
    max-width: 600px;
}

/* main>input {
    background-color: greenyellow;
} */

#new-word-b {
    background-color: greenyellow;
    border-radius: 10px;
    color: black;
}

div.alphabet span {
    /* letter-spacing: .5rem; */
    margin: 0.15rem;
    /* override padding from 'main *' rule */
    padding: 0 0.3rem; 
    text-align: center;
    border: 1px solid #2196f3;
    border-radius: 10px;
}

/*====FLEXBOX */

.alphabet {
    display: flex;
    flex-flow: column wrap;
    /* flex-direction: row;
    flex-wrap: wrap; */
    /* align-items: center;
    justify-content: space-around;
    max-width: 270px; */
}

.alphabet>div {
    /* flex: 35px; */
    display: flex;
    /* no wrap*/
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    max-width: 270px;
}

.alphabet>div>span {
    flex: 1 1 35px;
}